.app-footer {
    background: #002b5c;
    color: white;
    width: auto;
    margin: 0 2rem 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
}
  
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}