mat-sidenav {
    margin: 10px;
    width: 220px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    display: flex;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-content {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 2rem;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    color: white !important;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
  
.name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}
  
.designation {
    margin-top: 2px;
    font-size: 0.8rem;
    color: white;
}
  
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}